version: '2'
services:
  influxdb:
    image: influxdb:1.8
    restart: "unless-stopped"
    ports:
      - '8317:8086'
    volumes:
      - /etc/influxdb-wunderground-influxdb:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=dbriverrun
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USERNAME}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      - INFLUXDB_USER=${INFLUXDB_USERNAME}
      - INFLUXDB_USER_PASSWORD=${INFLUXDB_USER_PASSWORD}
      - INFLUXDB_REPORTING_DISABLED=true
      - INFLUXDB_HTTP_AUTH_ENABLED=true
  chronograf:
    image: chronograf:latest
    restart: "unless-stopped"
    ports:
      - '127.0.0.1:8315:8889'
    volumes:
      - chronograf-storage:/var/lib/chronograf
    depends_on:
      - influxdb
    environment:
      - PORT=8889
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_USERNAME=${INFLUXDB_ADMIN_USERNAME}
      - INFLUXDB_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
  grafana:
    image: grafana/grafana:latest
    restart: "unless-stopped"
    ports:
      - '3009:3000'
    volumes:
      - /etc/grafana-wunderground-influxdb:/var/lib/grafana
      - ./grafana-provisioning/:/etc/grafana/provisioning
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
  etler:
    restart: "unless-stopped"
    build: .
    volumes:
      - /etc/wunderground-influxdb-datadir:/var/lib/wunderground-influxdb
    depends_on:
      - influxdb
    environment:
      - WINFLUX_INFLUX_ENDPOINT=http://influxdb:8086
      - WINFLUX_INFLUX_TOKEN=${INFLUXDB_USERNAME}:${INFLUXDB_USER_PASSWORD}
      - WINFLUX_INFLUX_BUCKET=dbriverrun/autogen
      - WINFLUX_WU_STATIONS=KWAFRUIT1
      - WINFLUX_WU_APIKEY=${WU_API_KEY}
      - WINFLUX_APP_INTERVAL=5m
      - WINFLUX_APP_FORECAST=true
      - WINFLUX_APP_FORECAST_GEOCODE=48.033869303870034,-118.36167307821674
volumes:
  influxdb-storage:
  chronograf-storage:
  grafana-storage:
